NEXT_PUBLIC_ACM_API_URL="http://localhost:4000/api/v1"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
GOOGLE_APPLICATION_CREDENTIALS="{...}"
ISSUER_ID=

# Firebase Client Config (for frontend authentication)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

NODE_ENV='development'; #'production';