@use '@/styles/vars.scss' as vars;

.onboardingTaskCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  justify-content: space-around;
  border-width: 0rem;
  padding: 1rem;
  background-color: vars.$card-shelf-color;
  text-align: center;
  width: 250px;

  @media screen and (max-width: vars.$breakpoint-sm) {
    width: 200px;
  }
}

.onboardingImage {
  max-width: 100%;
  height: auto;
}

.successButton {
  background-color: vars.$success !important;
  color: vars.$white !important;
  cursor: default !important;

  &:hover,
  &:focus,
  &:active {
    background-color: vars.$success !important;
    color: vars.$white !important;
  }
}
