.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: var(--top-padding) var(--side-padding);

  .check_email {
    margin: 0 auto;
    max-width: 646px;
    text-align: center;
  }

  a {
    align-self: center;
  }
}
