@use '@/styles/vars.scss' as vars;
@use 'sass:list';

.container {
  display: grid;
  grid-template-areas:
    'banner banner banner'
    'onboarding onboarding onboarding'
    'status faq faq'
    'banner2 banner2 banner2';
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: start;

  @media screen and (max-width: vars.$breakpoint-md) {
    display: flex;
    flex-direction: column;
    gap: vars.$side-padding-mobile;
    align-items: stretch;
  }

  .card {
    background-color: vars.$card-shelf-bg;
    border: vars.$card-shelf-border-width solid vars.$card-shelf-color;
    border-radius: 28px;
    padding: 2rem;

    animation: card-in 0.5s backwards;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: calc($i * 100ms);
      }
    }

    @keyframes card-in {
      from {
        transform: translateY(1rem);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .banner {
    grid-area: banner;
    position: relative;
    z-index: 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;

    .title {
      background-image: linear-gradient(
        to left,
        transparent,
        transparent,
        vars.$orange,
        vars.$light-blue,
        vars.$white,
        vars.$white
      );
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 500%;
      animation: gradient-in 2.5s 0.5s both;

      // Wrap each shadow in drop-shadow()
      $drop-shadows: ();
      @each $shadow in vars.$text-shadow {
        $drop-shadows: list.append($drop-shadows, drop-shadow(#{$shadow}));
      }
      filter: #{$drop-shadows};

      @keyframes gradient-in {
        from {
          background-position: right;
        }
        to {
          background-position: left;
        }
      }
    }

    .subtitle {
      text-shadow: vars.$text-shadow;
      animation: fade-in 1s 1.5s backwards;
    }

    .bannerImage {
      z-index: 10;
      position: absolute;
      bottom: -4px;
      right: 4%;
      z-index: -1;
      width: auto;
      height: 95%;
      animation: fade-in 3.5s 1.5s backwards;

      @media screen and (max-width: vars.$breakpoint-md) {
        position: absolute;
        left: 50.5%;
        transform: translateX(-50%);
        width: auto;
        height: 55%;
      }
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .status {
    grid-area: status;
  }

  .onboarding {
    grid-area: onboarding;

    .onboardingChecklist {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .link {
      text-decoration: underline;
      color: vars.$blue-4;
    }

  }
  .timeline {
    grid-area: timeline;

    .timelineItemWrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      position: relative;
      z-index: 0;
    }

    .timelineChecklist {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .link {
      text-decoration: underline;
      color: vars.$blue-4;
    }
  }

  .faq {
    grid-area: faq;
    position: relative;
  }

  .sunGodImage {
    position: absolute;
    bottom: -24px;
    right: -56px;
    width: 250px;
    height: auto;

    @media screen and (max-width: vars.$breakpoint-lg) {
      width: 220px;
    }

    @media screen and (max-width: vars.$breakpoint-md) {
      position: relative;
      left: 53%;
      transform: translateX(-50%);
      width: 65%;
      bottom: -60px;
    }
  }

  .stillHaveQuestions {
    width: calc(100% - 200px);

    @media screen and (max-width: vars.$breakpoint-md) {
      width: 100%;
    }
  }

  .bigQr {
    max-width: unset;
    width: 100%;
  }

  .banner2 {
    grid-area: banner2;
    margin-top: 2rem;
    width: 100%;
    height: auto;
  }
}

.notConfirmed {
  grid-template-areas:
    'banner banner'
    'status timeline'
    'faq faq'
    'banner2 banner2';
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}
