@use '@/styles/vars.scss' as vars;
@use 'sass:list';

.container {
  display: flex;
  flex-direction: column;
  grid-template-areas: 'actions checkin';
  gap: 1.5rem;
  align-items: flex-start;

  @media screen and (max-width: vars.$breakpoint-md) {
    display: flex;
    flex-direction: column;
    gap: vars.$side-padding-mobile;
    align-items: stretch;
  }

  .card {
    animation: card-in 0.5s backwards;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: calc($i * 100ms);
      }
    }

    @keyframes card-in {
      from {
        transform: translateY(1rem);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .actions {
    grid-area: actions;
  }

  .checkin {
    grid-area: checkin;
  }
}

.buttons {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;

  @media screen and (max-width: vars.$breakpoint-sm) {
    flex-direction: column;
    gap: 1rem;
  }
}

.activeButton {
  background-color: vars.$blue !important;
}

.nonActiveButton {
  background-color: transparent !important;
  border: 1px solid vars.$white;
  color: vars.$white !important;
}
