@use '../../styles/vars.scss' as vars;

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--top-padding) 0px;
  position: relative;
  min-height: 100vh;
  isolation: isolate;
  margin-bottom: 2vh;

  .imageWrapper {
    transform: translateY(20%);
  }

  .mobileImage {
    display: none;
  }

  .message {
    border: #525252 2px solid;
    border-radius: 8px;
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.3);
    background: #37393e80;
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    min-height: 80vh;

    .message {
      margin-top: 20vh;
    }

    .desktopImage {
      display: none;
    }

    .mobileImage {
      display: block;
    }
  }
}
