@use '../../styles/vars.scss' as vars;

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--top-padding) 0px;
  position: relative;
  min-height: 100vh;
  isolation: isolate;
  margin-bottom: 40vh;

  .imageWrapper {
    position: absolute;
    bottom: -115vh;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;

    svg {
      display: block;
      width: 100%;
      height: auto;
      overflow: visible;
    }
  }
}

.message {
  border: #525252 2px solid;
  border-radius: 8px;
  box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
  background: #37393E80;
  position: relative;
  z-index: 2;
}
