@use '@/styles/vars.scss' as vars;

.inline {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.checkboxLabel {
  display: flex;
  align-items: center;

  .other {
    border-bottom: 1px solid vars.$white;
    padding: 0.25rem 0.75rem;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
