@use '@/styles/vars.scss' as vars;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'main';
}
.video,
.svg {
  grid-area: main;
  max-width: 100%;
}
.video {
  background-color: black;
  border-radius: 1rem;
}
.svg {
  position: relative;
  z-index: 1;
  stroke: currentColor;
  fill: none;
  stroke-width: 3;
}
.svg circle {
  transform-origin: center;
  animation: pulse infinite ease-in-out 1s alternate;
  vector-effect: non-scaling-stroke;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}
