@use '@/styles/vars.scss' as vars;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'main';
}
.video,
.svg {
  grid-area: main;
}
.video {
  max-width: 100%;
  background-color: black;
}
.svg {
  position: relative;
  z-index: 1;
}
