.main {

}

.podiumContainer {
  padding-top: 200px;
  background: linear-gradient(180deg, #ffd13b55 0%, #25262B 50%);
}

.confettiImage {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
}
