@use '../../styles/vars.scss' as vars;

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .formsContainer {
    display: flex;
    width: 100%;
    gap: 2rem;

    @media screen and (max-width: vars.$breakpoint-md) {
      flex-direction: column;
    }
  }

  .liability,
  .photo {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-start;

    a {
      width: 100%;
    }
  }
}
