@use '@/styles/vars.scss' as vars;

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem var(--side-padding);
  margin: 0 auto;
}

.isMobile {
  display: none;
}

.isDesktop {
  display: block;
}

@media screen and (max-width: vars.$breakpoint-lg) {
  .isMobile {
    display: block;
  }

  .isDesktop {
    display: none;
  }
}
