@use '@/styles/vars.scss' as vars;

.button {
  display: inline-flex;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  min-width: 8.75rem;
  min-height: 2.5rem;
  align-items: center;
  justify-content: center;
  color: vars.$btn-text;
  // Corresponds to diamond-theme/label/small
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;

  &[data-variant='primary'] {
    background-color: vars.$btn-primary;
  }

  &[data-variant='secondary'] {
    background-color: vars.$btn-secondary;
  }

  &[data-variant='tertiary'] {
    border: 1px solid vars.$btn-primary;
    color: vars.$btn-primary;
  }

  &:disabled {
    opacity: 0.5;
  }
}
