@use '@/styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.responseList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question {
  font-weight: 700;
  a {
    color: vars.$blue;
  }

  &:hover {
    text-decoration: underline;
  }
}


.response {
  padding: 0.75rem;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
}
