@use '@/styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.backBtnContainer {
  margin-bottom: 1.5rem;
}

.backLink {
  font-size: 18px;
  color: vars.$white;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.backText {
  transition: ease-in-out 0.2s;
  &:hover {
    text-decoration: underline;
  }
}

.heading {
  font-size: 23px;
  font-weight: 700;
  color: white;
}

.responseList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question {
  font-weight: 700;
  a {
    color: vars.$blue;
  }

  &:hover {
    text-decoration: underline;
  }
}

.response {
  padding: 0.75rem;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.interestQuestion {
  display: flex;
  align-items: center;
  margin-top: -16px;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.accepted {
  color: #90E4A2;  // TODO: check if in vars
}

.rejected {
  color: #F3AAB1;
}

.waitlisted {
  color: #FFCF75;
}

.gray {
  color: #C3C6CF;
}

.divider {
  background-color: vars.$card-stroke;
  height: 2px;
  border: 0;
  margin-bottom: 2rem;
}

.submissionHeader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
}

.decisionButtons {
  display: flex;
  gap: 1rem;
  align-self: center;

  @media screen and (max-width: vars.$breakpoint-md) {
    flex-direction: column;
    width: 100%;
  }

  button {
    border-radius: 0.5rem;
  }

  .reject {
    color: #8d0d25;
    background-color: #fad5dc;
  }

  .waitlist {
    color: #8d490d;
    background-color: #ecdf98;
  }

  .accept {
    color: #00573f;
    background-color: #d7ede7;
  }
}
