@use '@/styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .filterContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .reviewerActions {
      display: flex;
      justify-content: flex-start;
    }

    .filterButtons {
      display: flex;
      flex-flow: row wrap;
      gap: 0.75rem;

      button {
        border-radius: 0.75rem;
        color: vars.$white;
        border-color: vars.$white;
        padding: 0.5rem 1rem;
        min-width: 0;
      }

      .activeFilter {
        background-color: vars.$light-blue;
        color: vars.$black;
        border-color: transparent;
      }
    }
  }

  .divider {
    background-color: vars.$neutral;
    height: 2px;
    border: 0;
  }
}
