@use '../styles/vars.scss' as vars;

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 6rem var(--side-padding);
}

.buttonRow {
  display: flex;
  justify-content: end;
  gap: 1rem;

  @media screen and (max-width: vars.$breakpoint-md) {
    flex-direction: column;
  }
}
