@use '@/styles/vars.scss' as vars;

.back {
  align-self: flex-start;
}

.required {
  color: #ef626c;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question a {
  color: vars.$blue;

  &:hover {
    text-decoration: underline;
  }
}

.inline {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.checkboxLabel {
  display: flex;
  align-items: center;

  .other {
    border-bottom: 1px solid vars.$white;
  }
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .textbox {
    width: 100%;
    min-height: 10rem;
    resize: vertical;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid vars.$card-stroke;
  }
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
}
