@use '@/styles/vars.scss' as vars;

.tableRow{
  td {
    font-size: 1rem;
    font-weight: 500;
    line-height: 12px;
    padding: 1.25rem;
    border-right: 1px solid #525252;
    border-bottom: 1px solid #525252;
    text-align: left;
    min-width: 250px;
  }

  .viewButton {
    color: vars.$white;
    border-color: vars.$white;
  }
}