@use '../../styles/vars.scss' as vars;

.profileHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  .editBtn,
  .closeBtn {
    flex: none;
    cursor: pointer;
  }

  .logoutBtn {
    &.noHouse {
      margin-left: auto;
    }

    @media screen and (max-width: vars.$breakpoint-md) {
      flex-basis: 100%;
    }
  }
}

.profileContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: calc(100% - 40rem);

  &.noHouse {
    width: 100%;
  }

  .house {
    position: absolute;
    top: 10rem;
    right: 45rem;

    &.editing {
      top: 7rem;
    }

    .books {
      position: absolute;
      top: 9.64rem;
      width: auto;
      height: 16rem;
    }

    .badge {
      position: absolute;
      left: 13rem;
      width: auto;
      height: 30rem;
    }
  }

  @media screen and (max-width: 1176px) {
    width: calc(100% - 21rem);

    .house {
      top: 19rem;
      right: 26.5rem;

      &.editing {
        top: 15rem;
      }

      .books {
        top: 6.63rem;
        height: 10rem;
      }

      .badge {
        left: 4rem;
        height: 20rem;
      }
    }
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    width: 100%;
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  position: relative;

  @media screen and (max-width: vars.$breakpoint-md) {
    .discardButton {
      display: none;
    }

    .saveButton {
      width: 100%;
    }
  }
}
