@use '../../styles/vars.scss' as vars;

.profileHeader {
  display: flex;
  align-items: center;
  gap: 1rem;

  .editBtn,
  .closeBtn {
    flex: none;
    cursor: pointer;
  }

  .closeBtn {
    margin-left: auto;
  }

  .logoutBtn {
    margin-left: auto;
  }
}

.profileContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: calc(100% - 21rem);

  @media screen and (max-width: 870px) {
    width: 100%;
  }

  // .house {
  //   position: absolute;
  //   top: 10rem;
  //   right: 45rem;

  //   .books {
  //     position: absolute;
  //     top: 9.64rem;
  //     width: auto;
  //     height: 16rem;
  //   }

  //   .badge {
  //     position: absolute;
  //     left: 13rem;
  //     width: auto;
  //     height: 30rem;
  //   }
  // }

  .house {
    position: absolute;
    top: 19rem;
    right: 26.5rem;

    &.editing {
      top: 15rem;
    }

    .books {
      position: absolute;
      top: 6.63rem;
      width: auto;
      height: 10rem;
    }

    .badge {
      position: absolute;
      left: 4rem;
      width: auto;
      height: 20rem;
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  @media screen and (max-width: vars.$breakpoint-md) {
    .discardButton {
      display: none;
    }

    .saveButton {
      width: 100%;
    }
  }
}
