@use '@/styles/vars.scss' as vars;

.bar {
  height: 0.25rem;
  margin: 0 4.5rem;
  margin-bottom: 3rem;
  position: relative;
  background-color: vars.$progress-bg;

  .blueBar {
    height: 100%;
    background-color: vars.$btn-primary;
  }

  .step {
    position: absolute;
    top: 0.125rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .ball {
      margin-top: -0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: vars.$progress-bg;

      &.blueBall {
        background-color: vars.$btn-primary;
      }
    }
  }
}
