@use '@/styles/vars.scss' as vars;
@use 'sass:list';

.container {
  display: grid;
  grid-template-areas:
    'banner banner'
    'status timeline';
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
  align-items: start;

  @media screen and (max-width: vars.$breakpoint-md) {
    display: flex;
    flex-direction: column;
    gap: vars.$side-padding-mobile;
    align-items: stretch;
  }

  .card {
    animation: card-in 0.5s backwards;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: calc($i * 100ms);
      }
    }

    @keyframes card-in {
      from {
        transform: translateY(1rem);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .banner {
    grid-area: banner;
    position: relative;
    z-index: 0;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    .title {
      background-image: linear-gradient(
        to left,
        transparent,
        transparent,
        vars.$orange,
        vars.$light-blue,
        vars.$white,
        vars.$white
      );
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 500%;
      animation: gradient-in 2.5s 0.5s both;

      // Wrap each shadow in drop-shadow()
      $drop-shadows: ();
      @each $shadow in vars.$text-shadow {
        $drop-shadows: list.append($drop-shadows, drop-shadow(#{$shadow}));
      }
      filter: #{$drop-shadows};

      @keyframes gradient-in {
        from {
          background-position: right;
        }
        to {
          background-position: left;
        }
      }
    }

    .subtitle {
      text-shadow: vars.$text-shadow;
      animation: fade-in 1s 1.5s backwards;
    }

    .bannerImage {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: auto;
      height: 100%;
      animation: fade-in 3.5s 1.5s backwards;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .status {
    grid-area: status;
    display: flex;
    align-items: center;
  }

  .timeline {
    grid-area: timeline;

    .timelineItemWrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      position: relative;
      z-index: 0;
    }
  }
}
