@use '@/styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: vars.$card-padding;
  background-color: #37393e;
  border: 5px solid #525252;
  border-radius: 1.5rem;

  @media screen and (max-width: vars.$breakpoint-md) {
    padding: vars.$card-padding-mobile;
  }
}

.tagContainer {
  margin-top: 0.75rem;
  margin-left: auto;
  align-self: flex-start;
}

.responseList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  &.collapsed {
    max-height: 500px;
  }

  &.expanded {
    max-height: none;
  }
}

.location {
  font-weight: 400;
  font-size: medium;
}

.question {
  font-weight: 700;
  a {
    color: vars.$blue;
  }

  &:hover {
    text-decoration: underline;
  }
}

.response {
  padding: 0.75rem;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.submissionHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}
