.badge {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  align-self: start;
  text-transform: capitalize;

  &.NOT_SUBMITTED {
    background-color: #fad5dc;
    color: #8d0d25;
  }
  &.SUBMITTED {
    background-color: #d6e5f8;
    color: #142e52;
  }
  &.ACCEPTED {
    background-color: #d7ede7;
    color: #00573f;
  }
  &.ACCEPTED {
    background-color: #ece6f9;
    color: #35118d;
  }
}
