@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 2rem var(--side-padding);
  background-color: vars.$black;

  @media screen and (max-width: vars.$breakpoint-md) {
    position: relative;
    z-index: 2000;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  @media screen and (max-width: vars.$breakpoint-md) {
    color: vars.$white;
    align-self: flex-start;
  }
}

.logoText {
  font-weight: 200 !important;
  line-height: 1.375rem !important;
}

.desktopLinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media screen and (max-width: vars.$breakpoint-md) {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: vars.$white;

  @media screen and (max-width: vars.$breakpoint-md) {
    background-color: vars.$black;
    text-align: center;
  }
}

.flex {
  flex: auto;
}

.mobileIcons {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;

  .menuIcon {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    display: block;
  }
}

.mobileMenu {
  padding: 1.5rem var(--side-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: vars.$black;
  padding-top: 7.5rem;
}
