@use './vars.scss' as vars;

:root {
  --side-padding: #{vars.$side-padding};

  @media screen and (max-width: vars.$breakpoint-md) {
    --side-padding: #{vars.$side-padding-mobile};
  }
}

html,
body {
  color: vars.$white;
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth !important;
}

html {
  background: linear-gradient(180deg, #151625 0%, #4e4f64 100%);
}

body {
  display: flex;
  flex-direction: column;
}

section {
  padding-top: 4rem;
}
