// Colors
$black: #151625;
$blue: #9ecaff;
$blue-4: #85c2ff;
$light-blue: #bfeafd;
$dark-blue: #0061a3;
$darker-blue: #003258;
$red: #ff8e72;
$orange: #f9a857;
$yellow: #ecdf98;
$white: #ffffff;
$neutral: #a1acbd;

$card-bg: rgba(255, 255, 255, 0.05);
$card-stroke: rgba(255, 255, 255, 0.15);
$popup-bg: #37393e;

$btn-text: #000000;
$btn-primary: #a5e0fb;
$btn-secondary: #ffffff;

// TODO in the future?
// $btn-primary: #1F8FFF;
// $btn-primary-hover: #57ABFF;
// $btn-primary-focused: #1F8FFF;
// $btn-primary-focused-border: #C7E3FF;
// $btn-primary-active: #8FC7FF;
// $btn-primary-disabled: #28445f;
// $btn-primary-disabled-border: #0073E6;

// $btn-secondary: #25262B;
// $btn-secondary-hover: #42444D;
// $btn-secondary-focused: #25262B;
// $btn-secondary-active: #656876;
// $btn-secondary-disabled: #25262B;
// $btn-secondary-disabled-border: #797C8B;

$border-stroke: #525252;

$progress-bg: #e2e2e6;

$error: #ffb3b4;

// Media Query Standard Breakpoints
$breakpoint-sm: 425px; //
$breakpoint-md: 870px; // Use this breakpoint for most mobile-first CSS designs
$breakpoint-lg: 1024px;

$text-shadow:
  0 1px 4px rgba(0, 0, 0, 0.5),
  0 3px 15px rgba(0, 0, 0, 0.7);

$side-padding: 4rem;
$side-padding-mobile: 1rem;

$top-padding: 6rem;
$top-padding-mobile: 2rem;

$card-padding: 2rem;
$card-padding-mobile: 1rem;

$error-red: #ffb3b4;
$error-dark-red: #ef626c;
