// Colors
$black: #151625;
$blue: #9ecaff;
$light-blue: #bfeafd;
$dark-blue: #0061a3;
$darker-blue: #003258;
$red: #ff8e72;
$orange: #f9a857;
$yellow: #ecdf98;
$white: #ffffff;
$neutral: #a1acbd;

// Media Query Standard Breakpoints
$breakpoint-sm: 425px; //
$breakpoint-md: 870px; // Use this breakpoint for most mobile-first CSS designs
$breakpoint-lg: 1024px;

$side-padding: 4rem;
$side-padding-mobile: 1rem;
